@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");

:root {
  --main-font: "Ubuntu", sans-serif;
  --second-font: "Pushster", sans-serif;
  --third-font: "Pacifico", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(assets/w3codes.png);
  background-position: center;
  width: 100vw;
  font-family: var(--main-font);
  color: #fff;
}

header {
  padding: 20px;
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon {
  padding: 20px;
  margin-left: 20px;
  font-family: var(--second-font);
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  font-size: 25px;
}

.nav-ul ul {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.nav-ul li {
  list-style-type: none;
  padding: 10px;
}

.nav-ul a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000;
  font-weight: 600;
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-ul a:hover {
  text-decoration: underline;
  color: darksalmon;
}

.technologies {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-logo img {
  width: 100%;
  border-radius: 10px;
  margin: 3rem;
}

.technologies h3 {
  margin: 1rem 0;
  line-height: 60px;
  font-family: var(--second-font);
}

.technologies ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.technologies li {
  padding: 20px;
  list-style-type: none;
  font-size: 4rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}

section h1 {
  font-weight: bold;
  font-family: var(--second-font);
  line-height: 20px;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

section p {
  line-height: 2;
  font-weight: bold;
  font-size: 20px;
}

.confuse-between-resources {
  text-align: center;
}

.confuse-between-resources img {
  width: 500px;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-family: var(--second-font);
  margin-top: 20px;
  text-decoration: underline;
}

.resources {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.freecodecamp,
.w3schools,
.udemy,
.youtube {
  margin: 1rem;
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.322);
  border-radius: 10px;
}

.freecodecamp p,
.w3schools p,
.udemy p,
.youtube p {
  margin-bottom: 40px;
}

.resources h2 {
  font-family: var(--third-font);
  text-decoration: underline;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}

.resources h4 {
  font-family: var(--third-font);
  font-size: 19px;
  padding: 10px;
}
.resources p {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 1.5;
  font-size: 19px;
}

.resources a {
  background-color: rgb(85, 55, 85);
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--third-font);
}

.resources a:hover {
  background-color: darksalmon;
}

.about {
  border: 2px solid rgba(0, 0, 0, 0.226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 2rem 2rem;
  border-radius: 10px;
}
.about .hero-logo img {
  width: 800px;
  left: 50px;
  margin: 2rem 2rem;
  border-radius: 20px;
}

.about .content h2 {
  font-family: var(--second-font);
  padding: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.about .content p {
  line-height: 35px;
  font-family: var(--main-font);
  font-weight: bold;
  padding: 20px;
  font-size: 22px;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.social ul li {
  padding: 10px;
  list-style-type: none;
  font-size: 40px;
}
@media only screen and (max-width: 700px) {
  .nav-ul ul {
    display: flex;
    flex-direction: column;
  }

  main {
    text-align: center;
  }

  .technologies {
    text-align: center;
  }

  .icon h4 {
    text-align: center;
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .technologies h3 {
    line-height: 40px;
    padding: 10px 20px;
  }

  .img-logo img {
    width: 400px;
  }

  .technologies i {
    font-size: 50px;
  }

  .resources {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    font-size: 10px;
    padding: 20px;
  }

  .resources h2 {
    font-size: 20px;
  }

  .resources p {
    line-height: 2;
  }

  img {
    text-align: center;
    width: 400px;
  }

  .about .hero-logo img {
    width: 400px;
  }
  .about {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  main {
    text-align: center;
  }

  .img-logo img {
    text-align: center;
    width: 300px;
  }

  .nav-ul ul {
    display: flex;
    flex-direction: column;
  }
}
